<!DOCTYPE html> 
<html>


    
       

    <div class="ui comments">
        <h3 class="ui dividing header">Commentaires</h3>
        <% if(!user) { %>
            <%= user  %>
            <a href="/login" class="avatar">SIGN IN</a>
            <a href="/register" class="avatar">SIGN UP</a>
        <% } %>
    </div>

    
    